.text {
	color: var(--text-color);
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	line-height: 1.8rem;
}

@media only screen and (max-width: 768px) {
	.text {
		font-size: 1.4rem;
		line-height: 1.6rem;
	}
}
